<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="" class="site_title"> <span> 智能门禁管理系统</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <!-- TODO 加入动态 profile_img -->
            <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>欢迎,</span>
            <h2> {{ current_user.username }} </h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> 首页 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/home/index"> 近期统计 </a></li>
                        <li><a href="/home/monitor"> 实时监控 </a></li>
                        <!-- TODO 增加动态异常提醒 -->
                        <li><a href="/home/warn"> 异常提醒 <span class="label label-warning pull-right">2</span></a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-user"></i> 人员信息 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/tables/residents"> 住户信息 </a></li>
                        <li><a href="/tables/visitors"> 访客信息 </a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-th-list"></i> 门禁信息 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/tables/access"> 人员进出记录 </a></li>
                        <li><a href="/tables/capture"> 摄像头检测记录 </a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-cogs"></i> 小区管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/tables/person"> 人员管理 </a></li>
                        <li><a href="/tables/building"> 住宅管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
